h1{
    text-align: center;
}
.orszag_kartya{
    border:1px solid #ccc;
    border-radius:8px;
    padding:12px;
    width:220px;
    background:#fff;
    box-shadow: 1px 1px 5px 1px;
}
.fovaros{
    font-weight: bold;
}
#orszagok{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: row;
    justify-content: space-evenly;
}
#kereso{
      margin-left: 29.1%;
    width:41%;
    padding: 5px;
    margin-bottom: 25px;
}
